.button {
  width: 200px;
  height: 42px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.2);

  &.active {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  p {
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 4px;
    color: white;
  }
}