.sign-up-log-in-layout {
  height: 100vh;
  display: grid;
  place-items: center;

  .sign-up-log-in-container {
    width: 1024px;
    height: 768px;
    border-radius: 24px;
    border: 2px rgba(28, 29, 34, 0.08) solid;
  }
}