.inputContainer {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 16px;
    line-height: 24px;
    color: rgba(28, 29, 34, 0.5);
  }

  .input {
    background-color: white;
    height: 42px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(28, 29, 34, 0.2);

    font-size: 16px;
    line-height: 16px;
    color: rgba(28, 29, 34, 0.8);
    font-family: 'Exo 2', sans-serif;
  }
}

.passwordInputContainer {
  position: relative;

  .passwordIcon {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 12px;
    bottom: 9px;
    opacity: 0.5;
  }
}