.task-card-container {
  height: 194px;
  width: 100%;
  border: 2px rgba(28, 29, 34, 0.08) solid;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;

  .task-card-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-container {
      .task-title {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
      }

      .task-description {
        font-size: 14px;
        font-weight: 500;
        color: rgba(28, 29, 34, 0.5);
        margin-top: 6px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }

    .progress-container {
      display: grid;
      grid: repeat(2, 1fr) / repeat(2, 1fr);

      p {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: rgba(28, 29, 34, 0.5);
      }

      .progress-label {
        display: flex;
        align-items: center;

        .progress-icon {
          opacity: 0.5;
          width: 12px;
          height: 10px;
        }

        p {
          margin-left: 2.5px;
        }
      }

      .right-text {
        text-align: right;
      }

      .progress {
        width: 100%;
        height: 5px;
        margin-top: 8px;
        background-color: rgba(28, 29, 34, 0.08);
        border-radius: 2.5px;
        grid-column: 1 / 3;

        .progress-fill {
          border-radius: 2.5px;
          height: 100%;
          background-color: #FFA048;
        }
      }
    }

    .deadline {
      width: 110px;
      height: 30px;
      border-radius: 17px;
      background-color: rgba(136, 141, 167, 0.1);

      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 14px;
        font-weight: 600;
        color: #888DA7;
        line-height: 14px;
      }
    }
  }
}

.task-card-container:not(:first-of-type) {
  margin-top: 16px;
}